# Node modules
node_modules/

# Yarn v2 (Berry)
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions


# macOS
.DS_Store

# Logs
*.log

# Android
/android/.gradle/
/android/.idea/
/android/local.properties

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# TypeScript
*.tsbuildinfo